@model Parent
@{
    ViewData["Title"] = "Создать родителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="row pb-2">
        <h3 class=" text-primary">Создать Родителя</h3>
    </div>
</form>
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <form method="post" class="needs-validation" novalidate="">
          <div class="row g-3">
              <div class=" mb-3" 
                <label asp-for="Name">Имя</label>
                <input asp-for="Name" class="form-control" />
              </div>
              <div class=" mb-3" 
                <label asp-for="LastName">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
              </div>
              <div class=" mb-3" 
                <label asp-for="SurName">Отчество</label>
                <input asp-for="SurName" class="form-control" />
              </div>



                </div>
                &nbsp;
               <button class="w-100 btn btn-primary btn-lg" type="submit">Создать</button>
               &nbsp;
               <a asp-controller="Teachers" asp-action="Index" class="w-100 btn btn-secondary btn-lg">Назад к родителям</a>
           </form>
      </div>
    </div>
  </main>